body{
    background-image:url(2.jpg);
}
p{
  background-color: #68FF46;
  height: 20%;
  width: 20%;
  padding: 10px;
  margin: 10px;
  box-shadow: 10px 10px 10px #2f3841;
  border-radius: 30px;
}
#text{
  background-color: rgb(255,15,55);
  width: 20%;
  color: #fff;
  padding-left:19px;
  margin: 10px;
  box-shadow: 10px 10px 7px #2f3841;
  border-radius:15px ;
}